main {
    width: 85%;
    max-width: calc(120rem - 28.6rem);
    display: grid;
    justify-self: center;
}

main>h1 {
    width: 45%;
}

summary {
    justify-self: flex-end;
    text-align: left;
    width: 60%;
}

#motivation-row {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12.5%;
    margin-bottom: 5.3125rem;
    padding: 0 10%;
    box-sizing: border-box;
}

#motivation-row>h3 {
    grid-row: 1;
}

#motivation-row>p {
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
}

#team-list {
    width: 100%;
    justify-self: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    margin-bottom: 10.6250rem;
    padding: 0 10%;
    box-sizing: border-box;
}

#team-list li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#team-list>li>h4,ul>li>p {
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

#team-list>li>h4 {
    margin: 1em 0;
    font-weight: 500;
}

#team-list>li>img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: .75;
    border-radius: 1rem;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#team-dorci {
    object-position: 60% 50%;

}

#team-geri {
    object-position: 35% 50%;
}

#team-andris {
    object-position: 40% 50%;
}

#team-peti {
    object-position: 40% 50%;
}

@media screen and (max-width: 992px) {
    main {
        width: 85%;
        max-width: 85%;
    }

    main>h1 {
        width: 100%;
        justify-self: center;
        text-align: left;
    }

    summary {
        justify-self: center;
        text-align: left;
        width: 100%;
        margin-top: 2.5em;
        font-size: 1rem;
    }

    summary>p:first-of-type {
        margin-bottom: 1em;
    }

    #motivation-row {
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 0;
        margin-bottom: 0;
        padding: 0;
        grid-auto-flow: row;
    }
    
    #motivation-row>h3 {
        grid-row: auto;
        font-size: .75rem;
        font-weight: 400;
        margin-bottom: .75em;
    }
    
    #motivation-row>p {
        font-size: 1rem;
        font-weight: 400;
        width: 100%;
        margin-bottom: 2em;
    }

    #motivation-row>p:last-of-type {
        margin-bottom: 0;
    }

    #team-list {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        column-gap: 0;
        margin-bottom: 6rem;
        padding: 0 10%;
        box-sizing: border-box;
        max-width: 24rem;
    }
    
    #team-list>li>h4,ul>li>p {
        text-align: left;
    }
    
    #team-list>li>h4 {
        margin: 0;
        margin-top: 1em;
    }

    #team-list>li>p {
        margin-bottom: 2em;
    }
}