main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div:first-of-type {
    --scra-target-height: 5rem;
}

main > p {
    color: var(--swift-black);
    font-size: 1.25rem;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

#cta {
    background-color: var(--swift-pink);
    color: var(--swift-white);
    padding: .6rem 1.7rem;
    border: none;
    border-radius: 1rem;
    font-size: 0.75rem;
    transition: background-color 200ms ease-in-out;
    text-decoration: none;
}

#cta:hover {
    background-color: var(--magenta-medium);
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    main > div:first-of-type {
        --scra-target-height: calc((40vw / 270) * 60);
    }

    main > p {
        font-size: .75rem;
        margin-top: 2em;
        margin-bottom: 6em;
        max-width: 80%;
        text-align: center;
    }

    #cta {
        font-size: .875rem;
    }
}