main > a,
main > a:visited,
main > a:focus,
main > a:active {
    font-size: 1.75em;
    text-decoration: none;
    color: var(--swift-pink);
    transition: 120ms color ease-in-out;
}

main > a:hover,
main > a:visited:hover,
main > a:focus:hover,
main > a:active:hover {
    color: var(--magenta-medium);
    text-decoration: underline;
}

main>h1 {
    margin-bottom: 6vh;
}

main>summary,main>h1,main>a {
    margin-left: 14.3rem;
}

@media screen and (max-width: 992px) {
    main > a,
    main > a:visited,
    main > a:focus,
    main > a:active {
        font-size: 1rem;
    }

    main>h1 {
        margin-bottom: 1em;
    }

    main>summary,main>h1,main>a {
        display: block;
        width: 90%;
        margin-left: 5%;
        text-align: center;
    }
}